<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to page_title, root_path, class: "navbar-brand" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <% if user_signed_in? %>
          <li><%= link_to "View Submissions", submissions_path, data: {no_turbolink: true} %></li>
        <% end %>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Download<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://github.com/BigMcLargeHuge/opensources/zipball/master">ZIP File</a></li>
            <li><a href="https://github.com/BigMcLargeHuge/opensources/tarball/master">TAR Ball</a></li>
          </ul>
        </li>
			  <li>
				  <a href="https://github.com/BigMcLargeHuge/opensources"><%= image_tag("github.svg") %>View Repository</a>
			  </li>
        <%= render partial: "shared/sign_out" %>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
