<div class="container-fluid" style="min-height:600px">

	<h1>Privacy Policy</h1>
	<strong>Be advised, this app was written by an amateur for public use.  If this makes you feel uncomfortable, leave our site now.</strong>

	<p>The guy who wrote this app is often grossly incompetant, so incompetent that he begins sentences in his privacy policy with conjunctions and didn't even bother to spell check it.  And frankly, (see, I warned you) if you're concerned enough about our privacy policy to actually read it, you probably shouldn't use this service.  Below is a statement of our intentions but we could completely screw up.  If you trust us, great use the app but be aware that you do so at your own risk.</p>

	<p>This app uses Omniauth technology for its authentication with which we collect only your email address for the purposes user management. We intend never give your information to anyone outside of our organization.</p>

	<p>The purpose of the OpenSources app is to collect users classifications for various internet resources. When a user makes a submission, it is reviewed by a research team and will be used in our databases. The classification is published without identifying the original user that submitted it.</p>

	<p>We are just a group of researchers interested in promoting information integrity on the internet. At this point we do not use SSL and therefore request you not to provide us with any information that you would be uncomfortable sharing. We offer no warrantees for this service and it is to be used at your own risk.</p>

	<p>Basically, we volunteer our time to this project and, from a technical perspective we have no idea of what we're doing, so for the love of God
		<strong>please don't sue us!</strong>
	</p>
</div>
