<div class="container">
	<div class="row">
		<div class="col-md-6">
			<h1>New Submission</h1>
			<p>Help our researchers by providing as much information below as possible.</p>
			<%= render 'form' %>
			<br/>
		</div>
	</div>
</div>
