// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

nav, nav div.container-fluid{
	background: white;
}
nav.navbar {
	margin-bottom: 0px;
	border: white;
}
.jumbotron{
	img{
		height: 80px;
	}
	background-image: image-url("newspapers.jpg");
	background-size: cover;
}
nav ul.nav.navbar-nav img{
	height: 25px;
	margin-right: 3px;
}
#project_summary{
	@include make-lg-column(8);
	@include make-lg-column-offset(2);
	@include make-xs-column(12);
}
div.oauth_button{
	@include make-lg-column(4);
	@include make-lg-column-offset(4);
}
.btn-github:hover{
	color: #aaa;
}
.button-frame{
	margin-top: 55px;
	p {
		font-size: 14px;
	}
	form{
		display: inline-block;
		margin: 10px;
		input.btn{
			border-style: solid;
			border-color: rgb(51, 122, 183);
		}
	}
}
