// Place all the styles related to the reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

#review_save{
	position: fixed;
	bottom: 1px;
	right: 0%;
	@extend .btn, .btn-primary
}
table#review_table{
	textarea{
		min-width: 100%;
	}
	input{
		min-width: 100%;
	}
}
